---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Copyrights">
  <div class="relative z-0 pt-48 pb-12">
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div class="flex flex-col gap-8 text-center md:flex-row md:text-left">
        <div>
          <p class="uppercase tracking-widest text-gray-400">
            Svetainės turinys
          </p>
          <h2 class="font-header mt-2 text-6xl">
            Autorinės teisės ir licenzijos
          </h2>
        </div>
      </div>
    </div>
    <div
      class={`absolute inset-0 h-full z-0 bg-gray-900 dark:bg-site-gray opacity-50`}
    >
    </div>
  </div>

  <div
    id="privacy-policy"
    class={`relative py-20 duration-300 overflow-hidden`}
  >
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        <i>
          Toliau pateikiamas termino „informacija“ aprašymas:<br />
           Informacija (medžiaga) – vaizdinė (foto ar vaizdo informacija),
          tekstinė (rašytinė informacija), garso įrašai.
        </i>
      </p>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        Didžioji dalis informacijos šioje svetainėje priklauso savininkui,
        Julius Zlioba.
      </p>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        Jei šioje svetainėje juliuszlioba.com radote savo straipsnį ar kitą
        informaciją ir nenorite, kad jums priklausanti medžiaga būtų
        publikuojama šioje svetainėje – praneškite man ir mes ją pašalinsime. Su
        mumis galite susisiekti el. paštu arba telefonu, kuris nurodytas
        kontaktų puslapyje.
      </p>

      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        Kopijuoti ir platinti skelbiamą turinį galite tik nurodę svetainės
        nuorodą - juliuszlioba.com.
      </p>

      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        Nuoroda turi būti aktyvi. Jeigu svetainėje publikuotas straipsnis
        priklauso kitam informacijos šaltiniui, būtina nurodyti ir pirminį
        informacijos šaltinį.
      </p>

      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        Vaizdinę medžiagą (nuotraukas) kopijuoti ir platinti be oficialaus
        autoriaus leidimo draudžiama.
      </p>

      <h2 class="font-header mt-auto text-3xl">Tipografija</h2>

      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        Svetainė naudoja{" "}
        <a
          class="pl-1 text-gray-200 underline duration-75 hover:text-orange"
          href="https://github.com/googlefonts/dm-fonts"
          rel="nofollow noreferrer"
          target="_blank">DM Font</a
        >
         ir
        <a
          class="pl-1 text-gray-200 underline duration-75 hover:text-orange"
          href="https://fonts.google.com/specimen/PT+Sans#license"
          rel="nofollow noreferrer"
          target="_blank">PT Sans</a
        >
         šriftus. Šie šriftai yra prieinami atviram naudojimui. Šriftus galima
        rasti

        <a
          class="pl-1 text-gray-200 underline duration-75 hover:text-orange"
          href="https://fonts.google.com/"
          rel="nofollow noreferrer"
          target="_blank">fonts.google.com</a
        >.
      </p>
      <h2 class="font-header mt-auto text-3xl">Internetinis puslapis:</h2>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        Svetainė kurta naudojant <a
          class="text-gray-200 underline duration-75 hover:text-orange"
          href="https://astro.build/"
          rel="nofollow noreferrer"
          target="_blank">Astro</a
        >
      </p>
    </div>
  </div>
</Layout>
