---
import Hero from "../../components/homepage/lt/Hero.astro";
import Layout from "../../layouts/Layout.astro";
// import { AboutMe } from "../components/homepage/About";
// import PortfolioWeb from "../components/homepage/Portfolio-web.astro";
// import { Services } from "../components/homepage/Services";
---

<Layout title="Homepage">
  <main>
    <Hero />
    <!-- <Services client:visible />
    <PortfolioWeb />
    <AboutMe client:visible /> -->
  </main>
</Layout>
