---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Copyrights">
  <div class="relative z-0 pb-12 pt-48">
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div class="flex flex-col gap-8 text-center md:flex-row md:text-left">
        <div>
          <p class="uppercase tracking-widest text-gray-400">
            Assets of website
          </p>
          <h2 class="font-header mt-2 text-6xl">Copyrights &amp; updates</h2>
        </div>
      </div>
    </div>
    <div
      class={`absolute inset-0 h-full z-0 bg-gray-900 dark:bg-site-gray opacity-50`}
    >
    </div>
  </div>
  <div
    id="privacy-policy"
    class={`relative py-20 duration-300 overflow-hidden`}
  >
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        <i>
          The following is a description of the term "information":
          <br />
           Information (material) - visual (photo or video information), textual
          (written information), audio recordings.
        </i>
      </p>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Most of the information on this website belongs to the owner, Julius
        Zlioba.
      </p>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        If you have found your article or other information on this website
        juliuszlioba.com and you do not want the material belonging to you to be
        published on this website - let me know and we will remove it. You can
        contact us by e-mail or phone, which is listed on the contact page.
      </p>

      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        You can copy and distribute the published content only by indicating the
        website link - juliuszlioba.com.
      </p>

      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        The link must be active. If the article published on the website belongs
        to another information source, the original information source must also
        be indicated.
      </p>

      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Copying and distribution of visual materials (photos) without the
        official permission of the author is prohibited.
      </p>

      <h2 class="font-header mt-auto text-3xl">Typography</h2>

      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Website uses the{" "}
        <a
          class="pl-1 text-gray-200 underline duration-75 hover:text-orange"
          href="https://github.com/googlefonts/dm-fonts"
          rel="nofollow noreferrer"
          target="_blank">DM Font</a
        >
         and
        <a
          class="pl-1 text-gray-200 underline duration-75 hover:text-orange"
          href="https://fonts.google.com/specimen/PT+Sans#license"
          rel="nofollow noreferrer"
          target="_blank">PT Sans</a
        >
         fonts. This fonts are available for open use. Fonts can be found on
        <a
          class="pl-1 text-gray-200 underline duration-75 hover:text-orange"
          href="https://fonts.google.com/"
          rel="nofollow noreferrer"
          target="_blank">fonts.google.com</a
        >.
      </p>
      <h2 class="font-header mt-auto text-3xl">Website:</h2>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Website made using <a
          class="pl-1 text-gray-200 underline duration-75 hover:text-orange"
          href="https://astro.build/"
          rel="nofollow noreferrer"
          target="_blank">Astro</a
        >
      </p>
    </div>
  </div>
</Layout>
