---
import Hero from "../../components/homepage/en/Hero.astro";
import Layout from "../../layouts/Layout.astro";
import Services from "../../components/homepage/en/Services.astro";
import PortfolioWeb from "../../components/homepage/en/Portfolio-web.astro";
import About from "../../components/homepage/en/About.astro";
---

<Layout title="Homepage">
  <main>
    <Hero />
    <Services />
    <PortfolioWeb />
    <About />
  </main>
</Layout>
