---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <div class="relative z-0 pt-48 pb-12">
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div class="flex flex-col gap-8 text-center md:flex-row md:text-left">
        <div>
          <p class="uppercase tracking-widest text-gray-400">
            What I'm gathering
          </p>
          <h2 class="font-header mt-2 text-6xl">Privacy Policy</h2>
        </div>
      </div>
    </div>
    <div
      class={`absolute inset-0 h-full z-0 bg-gray-900 dark:bg-site-gray opacity-50`}
    >
    </div>
  </div>
  <div
    id="privacy-policy"
    class={`relative py-20 duration-300 overflow-hidden`}
  >
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        The juliuszlioba.com website owned by Julius Zlioba collects and manages
        your personal data.
      </p>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        This Privacy Policy explains how juliuszlioba.com uses your personal
        data and provides reasons for the collection of your personal data.
        Therefore, before browsing the juliuszlioba.com website, read this
        document. We ensure the security and confidentiality of your personal
        data.
      </p>
      <h2 class="font-header mt-auto text-3xl">Personal data I collect:</h2>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        When you browse juliuszlioba.com, we automatically collect certain
        information about your device - browser, IP address, time zone and
        cookies on your device. We also collect statistics about browsing the
        site: the pages you visit; the products you are viewing and other site
        navigation information. We call this automatically collected information
        "Device Information."
      </p>
      <h2 class="font-header mt-auto text-3xl">Why do we collect your data?</h2>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        The security of your data is of the utmost importance to us, which is
        why we collect and manage only the most necessary personal data of you,
        without which we would not be able to ensure the smooth operation of the
        website. Automatically collected data is used in site analytics.
        However, we ensure that statistical information does not identify
        specific users.
      </p>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        You may visit our website without providing any personally identifiable
        information. However, if you would like to take advantage of our website
        features or would like to receive our newsletter, please fill out our
        contact form and provide us with your personal details: email, name,
        surname. You have the option not to provide us with your personal
        information, but in that case you will not be able to use most of the
        features provided by the site. Visitors to the site who do not know what
        information we are required to collect may contact me by email
        julius@juliuszlioba.com.
      </p>
      <h2 class="font-header mt-auto text-3xl">Your rights:</h2>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        If you are European, you have various rights regarding the protection of
        your personal data:
      </p>
      <ul class="list-inside list-disc">
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Right to be informed.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          The right to receive your information that we process.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          The right to correct inaccurate or incorrect information about you.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Right to delete all data about you.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Right to restrict data processing.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          The right to transfer all data collected about you to another
          controller.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Right to object to the processing of personal data.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Rights related to automatic data management.
        </li>
      </ul>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        For more information, please contact us using the contact information
        below.
      </p>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        We warn you that we process the personal data of European citizens in
        order to fulfill your orders or otherwise fulfill the purposes listed at
        the beginning of this document. Please note that your data may be
        transferred outside of Europe (such as Canada or the U.S.).
      </p>
      <h2 class="font-header mt-auto text-3xl">Links to other sites:</h2>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        Our site may contain links to other sites that we do not control. Please
        note that we are not responsible for the collection of personal data by
        other websites or third parties. After leaving our site, we recommend
        that you read the privacy policies of third-party sites.
      </p>
      <h2 class="font-header mt-auto text-3xl">Data protection:</h2>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        To protect your personal data, we use the highest quality servers, which
        can only be accessed by authorized persons. We regularly monitor our
        systems to determine if there are any vulnerabilities or security
        attacks that could compromise your personal information. However, we do
        not guarantee the absolute security of your personal data.
      </p>
      <h2 class="font-header mt-auto text-3xl">Disclosure:</h2>
      <p class="mt-5 mb-4 max-w-prose text-lg tracking-wide text-gray-400">
        By law, we reserve the right to disclose your personal information if
        necessary to protect your rights, the safety of yourself and others, to
        investigate a crime, or to respond to a government request to disclose
        your personal information.
      </p>
      <h2 class="font-header mt-auto text-3xl">Contact information:</h2>
      <p class="mt-5 mb-12 max-w-prose text-lg tracking-wide text-gray-400">
        If you would like more information about this privacy policy or about
        your personal information, please contact us by email
        julius@juliuszlioba.com.
      </p>
    </div>
  </div>
</Layout>
