---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
import { CookiesConsent } from "../Cookies-Consent";
import { CookiesConsentLt } from "../Cookies-Consent-lt";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<footer class="z-10 mt-20 w-full py-10">
  <div class="mx-auto max-w-6xl px-4 md:px-8">
    <div class="rounded-2xl bg-gray-900 bg-opacity-50 p-8">
      <div id="contacts" class="pt-12 pb-24 text-center">
        <p class="uppercase tracking-widest text-gray-600 dark:text-gray-400">
          {t("footer.header")}
        </p>
        <h2 class="font-header mt-2 text-4xl">{t("footer.text")}</h2>
        <div
          class="flex items-center justify-center gap-4 pt-6 text-gray-600 hover:text-orange dark:text-gray-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="h-6 w-6"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
            ></path>
          </svg>
          <p class="text-xl">
            <a href="mailto:julius@juliuszlioba.com">
              writeme@juliuszlioba.com
            </a>
          </p>
        </div>
      </div>

      <div class="flex flex-col items-center justify-between md:flex-row">
        <div
          class="inline-flex flex-col gap-4 text-center md:order-2 md:flex-row lg:gap-10"
        >
          <a
            href={translatePath("/#about")}
            class="text-gray-200 duration-75 hover:text-orange"
          >
            {t("nav.abaut")}
          </a>
          <a
            href={translatePath("/#works")}
            class="text-gray-200 duration-75 hover:text-orange"
          >
            {t("nav.works")}
          </a>
          <a
            href={translatePath("/#services")}
            class="text-gray-200 duration-75 hover:text-orange"
          >
            {t("nav.services")}
          </a>
          <a
            href={translatePath("/kontaktai/")}
            class="text-gray-200 duration-75 hover:text-orange"
          >
            {t("nav.contacts")}
          </a>
          <div>
            <LanguagePicker />
          </div>
        </div>

        <div
          class="font-header mt-12 text-gray-700 dark:text-gray-300 md:order-1 md:mt-0"
        >
          juliuszlioba.com
        </div>
      </div>
    </div>
    <div
      class="mt-8 flex flex-col items-center justify-between px-8 text-center md:flex-row"
    >
      <div class="flex items-center gap-4 md:order-2">
        {
          /* <a
              href="/imprint"
              class="text-sm text-gray-400 hover:text-site-primary dark:text-gray-600 dark:hover:text-site-primary duration-75"
            >
              Imprint
            </a> */
        }
        <a
          href={translatePath("/privatumo-politika/")}
          class="text-sm text-gray-600 duration-75 hover:text-orange"
        >
          {t("nav.privacy_policy")}
        </a>
        {
          lang === "lt" ? (
            <CookiesConsentLt client:load />
          ) : (
            <CookiesConsent client:load />
          )
        }
      </div>
      <div class="pt-2 md:order-1 md:pt-0">
        <a
          href={translatePath("/autorines-teises/")}
          class="text-sm text-gray-600 duration-75 hover:text-orange"
        >
          {new Date().getFullYear()} &copy; Julius Zlioba
        </a>
      </div>
    </div>
  </div>
</footer>
