---
import { languages } from "../../i18n/ui";
import {
  getLangFromUrl,
  useTranslatedPath,
  getRouteFromUrl,
} from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<ul class="flex justify-center divide-x-2 divide-gray-500">
  {
    Object.entries(languages).map(([lang, label]) => {
      return (
        <li class="text-gray-200 duration-75 hover:text-orange px-2">
          <a href={translatePath(`/${route ? route : ""}`, lang)}>{label}</a>
        </li>
      );
    })
  }
</ul>

<!-- ! DUBUG ONLY -->
<!-- <div class="fixed bottom-5 left-5 bg-gray-700 p-2 text-left">
  Lang: {lang}<br />
   AstroUrl: {Astro.url}<br />
   RouteFromHelper: {route}<br />
  {
    Object.entries(languages).map(([lang, label]) => {
      return (
        <>
          {translatePath(`/${route ? route : ""}`, lang)}
          <br />
        </>
      );
    })
  }
</div> -->
