---
import { languages } from "../../i18n/ui";
import {
  getLangFromUrl,
  useTranslatedPath,
  getRouteFromUrl,
} from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<ul class="flex gap-2">
  {
    Object.entries(languages).map(([lang, label]) => {
      return (
        <li class="text-gray-200 duration-75 hover:text-orange">
          <a href={translatePath(`/${route ? route : ""}`, lang)}>{label}</a>
        </li>
      );
    })
  }
</ul>
