---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

import Layout from "../layouts/Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout title="Homepage">
  <main>
    <div id="hero" class="relative z-0 py-40 xl:py-48 2xl:py-52">
      <div class="m-auto max-w-6xl px-4 text-center md:px-8">
        <h2 class="font-header text-4xl">{t("error.404")}</h2>
        <div class="mt-4 inline-flex">
          <a
            href={translatePath("/")}
            class="focus:ring-site-primary flex items-center gap-2 rounded-full bg-orange px-6 py-2 text-lg hover:bg-orange-light focus:ring-4"
            >{t("nav.back_btn")}</a
          >
        </div>
      </div>
    </div>
  </main>
</Layout>
