---
import Hero from "../components/homepage/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Services from "../components/homepage/Services.astro";
import PortfolioWeb from "../components/homepage/Portfolio-web.astro";
import About from "../components/homepage/About.astro";
---

<Layout title="Homepage">
  <main>
    <Hero />
    <Services />
    <PortfolioWeb />
    <About />
  </main>
</Layout>
