---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/homepage/lt/Hero.astro";
import Paslaugos from "../components/homepage/lt/Paslaugos.astro";
import PortfolioWeb from "../components/homepage/lt/Darbai-web.astro";
import PortfolioDesign from "../components/homepage/lt/Darbai-design.astro";
import About from "../components/homepage/lt/ApieMane.astro";
---

<Layout title="Homepage">
  <main>
    <Hero />
    <Paslaugos />
    <PortfolioWeb />
    <PortfolioDesign />
    <About />
  </main>
</Layout>
