---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacy Policy">
  <div class="relative z-0 pb-12 pt-48">
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div class="flex flex-col gap-8 text-center md:flex-row md:text-left">
        <div>
          <p class="uppercase tracking-widest text-gray-400">Ką aš renku</p>
          <h2 class="font-header mt-2 text-6xl">Privatumo politika</h2>
        </div>
      </div>
    </div>
    <div
      class={`absolute inset-0 h-full z-0 bg-gray-900 dark:bg-site-gray opacity-50`}
    >
    </div>
  </div>
  <div
    id="privacy-policy"
    class={`relative py-20 duration-300 overflow-hidden`}
  >
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Juliui Žliobai priklausanti svetainė juliuszlioba.com renka ir tvarko
        Jūsų asmens duomenis.
      </p>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Šioje privatumo politikoje paaiškinama, kaip juliuszlioba.com naudoja
        Jūsų asmens duomenis ir nurodomos Jūsų asmens duomenų rinkimo
        priežastys. Todėl prieš naršydami svetainėje juliuszlioba.com
        perskaitykite šį dokumentą. Užtikriname Jūsų asmens duomenų saugumą ir
        konfidencialumą.
      </p>
      <h2 class="font-header mt-auto text-3xl">
        Asmens duomenys, kuriuos renku:
      </h2>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Kai naršote juliuszlioba.com, mes automatiškai renkame tam tikrą
        informaciją apie jūsų įrenginį – naršyklę, IP adresą, laiko juostą ir
        slapukus jūsų įrenginyje. Taip pat renkame statistiką apie naršymą
        svetainėje: puslapius, kuriuose lankotės; jūsų žiūrimi produktai ir kita
        svetainės naršymo informacija. Šią automatiškai surinktą informaciją
        vadiname „Įrenginio informacija“.
      </p>
      <h2 class="font-header mt-auto text-3xl">
        Kodėl aš renku jūsų duomenis?
      </h2>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Jūsų duomenų saugumas mums yra itin svarbus, todėl renkame ir tvarkome
        tik būtiniausius Jūsų asmens duomenis, be kurių negalėtume užtikrinti
        sklandaus svetainės veikimo. Automatiškai surinkti duomenys naudojami
        svetainės analizėje. Tačiau užtikriname, kad statistinė informacija
        neidentifikuotų konkrečių vartotojų.
      </p>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Galite apsilankyti mūsų svetainėje nepateikdami jokios asmenį
        identifikuojančios informacijos. Tačiau, jei norite pasinaudoti mūsų
        svetainės funkcijomis arba norite gauti mūsų naujienlaiškį, užpildykite
        mūsų kontaktinę formą ir pateikite savo asmeninius duomenis: el. pašto
        adresą, vardą, pavardę. Jūs turite galimybę nepateikti mums savo
        asmeninės informacijos, tačiau tokiu atveju negalėsite naudotis daugeliu
        svetainės teikiamų funkcijų. Svetainės lankytojai, kurie nežino, kokią
        informaciją turime rinkti, gali susisiekti su manimi el. paštu
        julius@juliuszlioba.com.
      </p>
      <h2 class="font-header mt-auto text-3xl">Jūsų teisės:</h2>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Jei esate europietis, turite įvairių teisių, susijusių su savo asmens
        duomenų apsauga:
      </p>
      <ul class="list-inside list-disc">
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Teisė būti informuotam.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Teisė gauti jūsų informaciją, kurią tvarkome.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Teisė ištaisyti netikslią ar neteisingą informaciją apie Jus.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Teisė ištrinti visus duomenis apie jus.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Teisė apriboti duomenų tvarkymą.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Teisė perduoti visus apie Jus surinktus duomenis kitam duomenų
          valdytojui.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Teisė nesutikti, kad būtų tvarkomi asmens duomenys.
        </li>
        <li class="mb-2 max-w-prose text-lg tracking-wide text-gray-400">
          Teisės, susijusios su automatiniu duomenų tvarkymu.
        </li>
      </ul>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Norėdami gauti daugiau informacijos, susisiekite su mumis žemiau
        nurodyta kontaktine informacija.
      </p>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Įspėjame, kad Europos piliečių asmens duomenis tvarkome siekdami
        įvykdyti Jūsų užsakymus ar kitaip įgyvendinti šio dokumento pradžioje
        išvardytus tikslus. Atminkite, kad jūsų duomenys gali būti perduoti už
        Europos ribų (pvz., Kanados ar JAV).
      </p>
      <h2 class="font-header mt-auto text-3xl">Nuorodos į kitas svetaines:</h2>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Mano svetainėje gali būti nuorodų į kitas svetaines, kurių mes
        nekontroliuojame. Atkreipkite dėmesį, kad nesu atsakingas už kitų
        svetainių ar trečiųjų šalių vykdomą asmens duomenų rinkimą. Išėjus iš
        mūsų svetainės, rekomenduojame perskaityti trečiųjų šalių svetainių
        privatumo politiką.
      </p>
      <h2 class="font-header mt-auto text-3xl">Duomenų apsauga:</h2>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Siekdami apsaugoti Jūsų asmens duomenis, naudojame aukščiausios kokybės
        serverius, prie kurių gali prisijungti tik įgalioti asmenys. Reguliariai
        stebiu savo sistema, siekdamas nustatyti, ar nėra pažeidžiamumų ar
        saugumo atakų, galinčių pakenkti jūsų asmeninei informacijai. Tačiau aš
        negarantuoju visiško jūsų asmens duomenų saugumo.
      </p>
      <h2 class="font-header mt-auto text-3xl">Paskelbimas:</h2>
      <p class="mb-4 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Pagal įstatymus pasiliekame teisę atskleisti jūsų asmeninę informaciją,
        jei tai būtina siekiant apsaugoti jūsų teises, jūsų ir kitų saugumą,
        tirti nusikaltimą arba atsakyti į vyriausybės prašymą atskleisti jūsų
        asmeninę informaciją.
      </p>
      <h2 class="font-header mt-auto text-3xl">Kontaktinė informacija:</h2>
      <p class="mb-12 mt-5 max-w-prose text-lg tracking-wide text-gray-400">
        Jei norite gauti daugiau informacijos apie šią privatumo politiką ar
        savo asmeninę informaciją, susisiekite su mumis el. paštu
        julius@juliuszlioba.com.
      </p>
    </div>
  </div>
</Layout>
