---

---

<div
  id="hero"
  class="relative z-0 min-h-screen bg-gray-900 bg-opacity-90 py-40 xl:py-48 2xl:py-52"
>
  <div class="relative z-10 m-auto max-w-6xl px-4 text-center md:px-8">
    <div class="flex flex-col items-center gap-12 md:flex-row">
      <div class="text-left">
        <h2 class="font-header text-6xl">
          Hi, I'm a digital graphic designer.
        </h2>
        <p class="mt-5 text-lg tracking-wide text-gray-600 dark:text-gray-400">
          I have over ten years of experience in a variety of projects from
          print media to website design.
        </p>
        <div></div>
      </div>
      <div class={`duration-700 opacity-100`}>
        <div class="relative w-[340px] sm:w-[428px]">
          <!-- w428 -->
          <img
            src="/assets/images/profile-picture-600x700.png"
            alt="Julius Zlioba"
            width="600"
            height="700"
            class="relative w-[428px]"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="absolute inset-0 z-0 flex">
    <img
      src="/assets/images/hero-bg.svg"
      alt="Julius Zlioba"
      width="1440"
      height="1024"
      class="h-full w-full object-cover opacity-30"
    />
  </div>
</div>
