---

---

<div id="about">
  <div class="relative mt-20 overflow-hidden py-20 duration-300">
    <div x-data="{ shown: false }" x-intersect.once="shown = true;">
      <div>
        <div
          class="relative z-10 m-auto max-w-6xl px-4 md:px-8 duration-1000 delay-500"
          :class="shown ? 'opacity-100' : 'opacity-0'"
        >
          <p class="uppercase tracking-widest text-gray-600 dark:text-gray-400">
            Labas, malonu susipažinti
          </p>
          <h2 class="font-header mt-2 text-6xl lg:w-2/3">
            Esu Julius ir aistringai mėgstu dizainą.
          </h2>
          <p
            class="mt-5 max-w-prose text-lg tracking-wide text-gray-600 dark:text-gray-400"
          >
            Kadangi kasdien dirbu su grafiniu dizainu ir karts nuo karto imuosi
            interneto plėtros projektų daugiau nei dešimtmetį, sukaupiau
            pakankamai patirties, kad galėčiau įgyvendinti įvairius projektus. O
            geriausias kuras mano projektams yra mano mėgstamos juodos kavos
            puodelis su trupučiu pieno.
          </p>
          <p
            class="mt-2 max-w-prose text-lg tracking-wide text-gray-600 dark:text-gray-400"
          >
            Laisvas nuo darbo taip pat svarbus, todėl, kai galiu, mėgstu leistis
            į žygius pėsčiomis ar važinėtis dviračiu gamtoje.
          </p>
          <p
            class="mt-2 max-w-prose text-lg tracking-wide text-gray-600 dark:text-gray-400"
          >
            kai dienos darbai baigti ir saulė leidžiasi, mėgstu atsipalaiduoti
            priešais gerą filmą ar knygą ar tiesiog retkarčiais pasiklysti
            kompiuterinių žaidimų pasaulyje.
          </p>
          <div class="mt-8 flex items-center">
            <div
              class="relative aspect-square h-20 w-20 overflow-hidden rounded-full border-4 border-white bg-orange"
            >
              <img
                src="/assets/images/profile-picture-noBg-600x700.png"
                alt="Julius Zlioba"
                width={600}
                height={700}
                class="-ml-1 mt-1 scale-125 object-contain object-center"
              />
            </div>
            <p class="ml-3 tracking-wide text-gray-800 dark:text-gray-200">
              Julius Zlioba
            </p>
          </div>
        </div>
      </div>

      <div
        class="absolute inset-0 z-0 w-9/12 rounded-r-3xl bg-gray-900 opacity-50 duration-1000 lg:w-1/2"
        :class="shown ? 'translate-x-0' : '-translate-x-full'"
      >
      </div>
    </div>
  </div>
</div>
