---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

import thumbnail from "../../../assets/images/portfolio/energypal/energypal_thumbnail.jpg";
import energypal_content_img_01 from "../../../assets/images/portfolio/energypal/energypal_main_part1.jpg";
import energypal_content_img_02 from "../../../assets/images/portfolio/energypal/energypal_screens.jpg";
---

<Layout title="Project | EnergyPal">
  <div class="relative z-0 pb-12 pt-48">
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div
        class="flex flex-col items-center gap-8 text-center md:flex-row md:text-left"
      >
        <div class="md:w-1/2">
          <a
            href="/#works-web"
            class="z-50 mb-12 inline-flex items-center gap-2 rounded-lg bg-gray-800 px-3 py-2 hover:bg-gray-700"
          >
            <!-- prettier-ignore -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
             Grįžti atgal
          </a>
          <p class="uppercase tracking-widest text-gray-300">Projektas</p>
          <h2 class="font-header mt-2 text-6xl">EnergyPal</h2>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Internetinio puslapio atnaujinimas
          </p>
          <div class="inline-flex items-center gap-4 pb-4 pt-6">
            <a
              href="https://energypal-astro.vercel.app/"
              target="_blank"
              rel="nofollow noreferrer"
              class="focus:ring-site-primary flex items-center gap-2 rounded-full bg-orange px-6 py-2 text-lg hover:bg-orange-light focus:ring-4"
            >
              Aplankyti svetainę
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                ></path>
              </svg>
            </a>
            <a
              href="https://github.com/juliuszlioba/energypal-astro"
              target="_blank"
              rel="nofollow noreferrer"
              class="text-gray-600 duration-75 hover:text-orange"
              title="programinis kodas"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="h-8 w-8"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="md:w-1/2">
          <Image
            src={thumbnail}
            alt="Energypal Thumbnail"
            class="rounded-2xl"
            transition:name="works.energypal"
          />
        </div>
      </div>
    </div>
    <div class={`absolute inset-0 h-full z-0 bg-gray-900 dark:opacity-50`}>
    </div>
  </div>
  <div class={`relative py-20 duration-300 overflow-hidden`}>
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div class="md:flex">
        <div class="mb-12 md:w-1/4">
          <p class="uppercase tracking-widest text-gray-300">Atlikti darbai</p>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Pilnas internetinio puslapio programavimas
          </p>
        </div>

        <div class="ml-auto max-w-3xl md:w-3/4">
          <p class="mb-5 uppercase tracking-widest text-gray-300">Projektas</p>
          <div class="flex flex-col gap-8">
            <p class="text-gray-4 text-lg tracking-wide text-gray-400">
              Užduotis buvo atnaujinti seną energypal.at puslapį, kuris skirtas
              pritraukti klientus iškančius elektros ir/ar dujų kainų tiekėjo.
            </p>

            <Image
              src={energypal_content_img_01}
              alt="website"
              class="rounded-2xl"
            />

            <a
              href="https://github.com/juliuszlioba/energypal-astro"
              target="_blank"
              rel="nofollow noreferrer"
              class="flex items-center gap-4 text-gray-600 duration-75 hover:text-orange"
              title="programinis kodas"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="h-8 w-8"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                ></path>
              </svg>

              <span class="text-lg text-gray-400 hover:text-orange"
                >Visą projekto programinį kodą, gali rasti mano Github paskyroje</span
              >
            </a>

            <Image
              src={energypal_content_img_02}
              alt="website"
              class="rounded-2xl"
            />

            <p class="text-lg tracking-wide text-gray-400">
              Šiuo metu internetinis adresas neveikia, tačiau galite aplankyti
              parodomąjį puslapį, kuriame galite pamatyti visą funkcionalumą.
            </p>

            <div class="inline-flex">
              <a
                href="https://energypal-website-preview.vercel.app/"
                target="_blank"
                rel="nofollow noreferrer"
                class="focus:ring-site-primary flex items-center gap-2 rounded-full bg-orange px-6 py-2 text-lg hover:bg-orange-light focus:ring-4"
              >
                Aplankyti parodomajį puslapį
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                  ></path>
                </svg>
              </a>
            </div>

            <p
              class="mt-8 border-t-2 border-dashed border-gray-700 pt-12 uppercase tracking-widest text-gray-400"
            >
              Šaltiniai
            </p>
            <p class="max-w-prose text-sm tracking-wide text-gray-400">
              &copy; Kai kurie naudojami vaizdai priklauso Fabio Meisel
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
