---
import { Picture } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";

import thumbnail from "../../../assets/images/portfolio/lietuviai-at/lietuviai-at_thumbnail.jpg";
import c724_content_img_01 from "../../../assets/images/portfolio/lietuviai-at/lietuviai-at_main_part1.jpg";
// import c724_content_img_02 from "../../../assets/images/portfolio/_.jpg";
// import c724_content_img_03 from "../../../assets/images/portfolio/_.jpg";
---

<Layout title="Project | connect724">
  <div class="relative z-0 pb-12 pt-48">
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div
        class="flex flex-col items-center gap-8 text-center md:flex-row md:text-left"
      >
        <div class="md:w-1/2">
          <a
            href="/#works"
            class="z-50 mb-12 inline-flex items-center gap-2 rounded-lg bg-gray-800 px-3 py-2 hover:bg-gray-700"
          >
            <!-- prettier-ignore -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
            Go back
          </a>
          <p class="uppercase tracking-widest text-gray-300">Project</p>
          <h2 class="font-header mt-2 text-6xl">Lietuviai.at</h2>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Website update project
          </p>
        </div>
        <div class="md:w-1/2">
          <Picture
            src={thumbnail}
            sizes="(max-width: 800px) 100vw, 800px"
            widths={[528, 800]}
            alt="connect724 Project Thumbnail"
            class="rounded-2xl"
          />
        </div>
      </div>
    </div>
    <div class={`absolute inset-0 h-full z-0 bg-gray-900 dark:opacity-50`}>
    </div>
  </div>
  <div class={`relative py-20 duration-300 overflow-hidden`}>
    <div class="relative z-10 m-auto max-w-6xl px-4 md:px-8">
      <div class="md:flex">
        <div class="mb-12 md:w-1/4">
          <p class="uppercase tracking-widest text-gray-300">Work involved</p>
          <p class="mt-5 max-w-prose text-lg tracking-wide text-gray-400">
            Full stack developing of the Website
          </p>
        </div>

        <div class="ml-auto max-w-3xl md:w-3/4">
          <p class="mb-5 uppercase tracking-widest text-gray-300">Project</p>
          <div class="flex flex-col gap-8">
            <p class="text-gray-4 text-lg tracking-wide text-gray-400">
              Lithuanian Community in Austria asked to help refresh their
              website blog.
            </p>
            <p class="text-lg tracking-wide text-gray-400">
              Work involved moving the old WordPress website to a new host
              provider and making a new theme.
            </p>
            <Picture
              src={c724_content_img_01}
              sizes="(max-width: 800px) 100vw, 800px"
              widths={[528, 800]}
              alt="sketches"
              class="rounded-2xl"
            />

            <p class="text-lg tracking-wide text-gray-400">
              To make things more exciting and to learn something new, I chose
              to separate the backend and frontend into separate parts.
            </p>

            <p class="text-lg tracking-wide text-gray-400">
              For the backend, I left WordPress as Content Management System.
              And for a frontend I chose Nexjs framework.
            </p>

            <p class="text-lg tracking-wide text-gray-400">
              You can visit website online to see the full experience.
            </p>
            <div class="inline-flex">
              <a
                href="https://www.lietuviai.at/"
                target="_blank"
                rel="nofollow noreferrer"
                class="focus:ring-site-primary flex items-center rounded-lg bg-orange px-4 py-3 text-lg hover:bg-orange-light focus:ring-4"
              >
                Visit website
                <!-- prettier-ignore -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="ml-2 h-4 w-4" viewBox="0 0 16 16" > <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" ></path> <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" ></path> </svg>
              </a>
            </div>

            <p
              class="mt-8 border-t-2 border-dashed border-gray-700 pt-12 uppercase tracking-widest text-gray-400"
            >
              Acknowledgement
            </p>
            <p class="max-w-prose text-sm tracking-wide text-gray-400">
              &copy; Some used images belongs to x
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
